*.swp
*.swo
*.o
*.obj
*.dSYM
*.dylib
*.so
*.dll
*.lo
res/

doublemulticolorshader
template
rotatingplane
rotatingcube
readobjfile_manual
readobjfile
headless
headless-snapshot.tga
advanced_model
terrain
dds
